<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="a">Image Generation and Face Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
    <h1>Image Generation and Face Detection</h1>
    <form action="/generate_and_detect" method="post">
        <button type="submit">Generate and Detect</button>
    </form>
</body>
</html>
